label {
	font-size: 15px;
	font-family: '宋体';
	cursor: pointer;
}

label i {
	font-size: 15px;
	font-style: normal;
	display: inline-block;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
	color: #fff;
	vertical-align: middle;
	margin: -2px 2px 1px 0px;
	border: #2489c5 1px solid;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + i {
	background: #2489c5;
}

input[type="checkbox"]:disabled + i {
	border-color: #ccc;
}

input[type="checkbox"]:checked:disabled + i {
	background: #ccc;
}