.role_main {
	width: 98%;
	border: 5px solid #D0DFEF;
	margin: 0px auto;
	font-size: 14px;
	font-family: '宋体';
	border: 5px solid #FF9765;
}

.role_left {
	width: 40%;
	float: left;
	margin-top: 15px;
	padding-left: 15px;
}

.role_center {
	width: 40%;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}

.clear {
	clear: both
}

ul {
	list-style: none;
}

.role_right {
	width: 10%;
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

.trOne {
	background-color: #F9F9F9;
	font-weight: bold;
}

.qieHuan {
	font-size: 12px;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
	background-color: red;
	vertical-align: middle;
}
